@use "../utilities/mixins.scss";

.table {
    @include mixins.tablegeneral (40px, 40px, 15px, 15px);


    .table-info {
        width: 100%;
        border-collapse: collapse;
    }

    .table-info th {
        @include mixins.table-info (center, 15px, 1px solid black, beige);

    }

    .table-info td {
        @include mixins.table-info (center, 15px, 1px solid black, rgb(179, 179, 177));

    }

    .botton-link {
        text-decoration: none;
        color: gray;
        text-decoration: underline;
        font-weight: 500;
        cursor: grab;
    }
}



/* Estilos para móviles (hasta 450px) */
@media (max-width: 450px) {

    .table {
        @include mixins.tablegeneral (30px, 20px, 10px, 10px);


        .table-info {
            font-size: 12px;
            margin-left: 0;
            text-align: left;
            padding: 0;
        }

        .table-info th {
            @include mixins.table-info (center, 5px, 1px solid black, beige);


        }

        .table-info td {
            @include mixins.table-info (center, 5px, 1px solid black, rgb(179, 179, 177));


        }

        /* Ocultamos las columnas menos importantes */
        th:nth-child(5),
        td:nth-child(5),
        th:nth-child(6),
        td:nth-child(6),
        th:nth-child(7),
        td:nth-child(7),
        th:nth-child(8),
        td:nth-child(8) {
            display: none;
        }
    }

}

@media (min-width:451px) and (max-width: 1024px) {
    .table {
        @include mixins.tablegeneral (40px, 30px, 15px, 15px);


        .table-info {
            font-size: 12px;
            margin-left: 0;
            text-align: left;
            padding: 0;
        }

        .table-info th {
            @include mixins.table-info (center, 8px, 1px solid black, beige);


        }

        .table-info td {
            @include mixins.table-info (center, 8px, 1px solid black, rgb(179, 179, 177));


        }

        /* Ocultamos las columnas menos importantes en pantallas pequeñas y tablets */
        .table-info th:nth-child(5),
        /* Altura */
        .table-info td:nth-child(5),
        .table-info th:nth-child(6),
        /* Pie Hábil */
        .table-info td:nth-child(6),
        .table-info th:nth-child(7),
        .table-info td:nth-child(7),
        .table-info th:nth-child(8),
        /* Sueldo */
        .table-info td:nth-child(8) {
            display: none;
        }
    }
}