$ph1d-color: rgb(0, 0, 0);
$ph1d-font: 56px;
$ph2d-color: rgb(66, 65, 65);
$ph2d-font: 38px;
$ppd-color:black;
$ppd-font:16px;

//parrafo 20px


$ph1m-color: rgb(0, 0, 0);
$ph1m-font: 28px;
$ph2m-color: rgb(66, 65, 65);
$ph2m-font: 20px;
$ppm-color:black;
$ppm-font:16px;

// parrafo 16px

$ph1t-color: rgb(0, 0, 0);
$ph1t-font: 42px;
$ph2t-color: rgb(66, 65, 65);
$ph2t-font: 30px;
$ppt-color:black;
$ppt-font:18px;

// parrafo 18px

