@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  margin-bottom: 30px;
}

.navbar {
  background-color: #cac4c4;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .logo {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}
.navbar .img-navbar {
  width: 40px;
  height: 40px;
  text-align: center;
}
.navbar .navbar-nav .nav-link {
  color: #444444; /* Color de texto de los enlaces */
  font-size: 18px; /* Tamaño de la fuente */
  font-weight: 500; /* Grosor de la fuente */
  padding-top: 8px; /* Espacio interno de los enlaces */
  padding-bottom: 8px;
  transition: color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  position: relative; /* Necesario para el efecto de subrayado */
}
.navbar .navbar-nav .nav-link:hover {
  color: #2b70bb; /* Color al pasar el mouse (azul de Bootstrap) */
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-fluid .row h1 {
  font-size: 56px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  margin-bottom: 24px;
  text-align: center;
}
.container-fluid .row h2 {
  font-size: 38px;
  color: rgb(66, 65, 65);
  line-height: 1.3;
  margin-bottom: 18px;
  text-align: center;
}
.container-fluid .row .p {
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  line-height: 1.6px;
}
.container-fluid .row .a {
  font-size: 20px;
  margin-bottom: 18px;
}
.container-fluid .row .li {
  margin-bottom: 8px;
}
.container-fluid .row .col-12 {
  text-align: center;
}
.container-fluid .row .table-player {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 450px) {
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-fluid .row .col-12 {
    padding: 20px;
  }
  .container-fluid .row h1 {
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.1;
    margin-bottom: 15px;
  }
  .container-fluid .row h2 {
    font-size: 20px;
    color: rgb(66, 65, 65);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .container-fluid .row p {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .container-fluid .row .a {
    font-size: 15px;
    margin-bottom: 18px;
  }
  .container-fluid .row .img-jugadores {
    margin-top: 15px;
    width: 400px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .img-cuerpotecnico {
    margin-top: 15px;
    width: 400px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .text-search {
    padding: 20px;
  }
  .container-fluid .row .img-search {
    margin-top: 15px;
    width: 300px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .img-contact {
    margin-top: 15px;
    width: 300px;
    height: auto;
    text-align: center;
  }
}
@media (min-width: 451px) and (max-width: 1024) {
  .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-fluid .row .col-12 {
    padding: 20px;
  }
  .container-fluid .row h1 {
    font-size: 42px;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .container-fluid .row h2 {
    font-size: 30px;
    color: rgb(66, 65, 65);
    text-align: center;
    line-height: 1.25;
    margin-bottom: 15px;
  }
  .container-fluid .row p {
    font-size: 18px;
    color: black;
    margin-bottom: 12px;
    line-height: 1.5px;
  }
  .container-fluid .row .a {
    font-size: 15px;
    margin-bottom: 18px;
  }
  .container-fluid .row .img-jugadores {
    margin-top: 15px;
    width: 500px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .img-cuerpotecnico {
    margin-top: 15px;
    width: 500px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .text-search {
    padding: 20px;
  }
  .container-fluid .row .img-search {
    margin-top: 15px;
    width: 300px;
    height: auto;
    text-align: center;
  }
  .container-fluid .row .img-contact {
    margin-top: 15px;
    width: 500px;
    height: auto;
    text-align: center;
  }
}
.img-jugadores {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-contact {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.accordion-flush {
  margin: 10px;
}

.btn-primary {
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.table {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: auto;
}
.table .table-info {
  width: 100%;
  border-collapse: collapse;
}
.table .table-info th {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  background-color: beige;
}
.table .table-info td {
  text-align: center;
  padding: 15px;
  border: 1px solid black;
  background-color: rgb(179, 179, 177);
}
.table .botton-link {
  text-decoration: none;
  color: gray;
  text-decoration: underline;
  font-weight: 500;
  cursor: grab;
}

/* Estilos para móviles (hasta 450px) */
@media (max-width: 450px) {
  .table {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: auto;
    /* Ocultamos las columnas menos importantes */
  }
  .table .table-info {
    font-size: 12px;
    margin-left: 0;
    text-align: left;
    padding: 0;
  }
  .table .table-info th {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: beige;
  }
  .table .table-info td {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    background-color: rgb(179, 179, 177);
  }
  .table th:nth-child(5),
  .table td:nth-child(5),
  .table th:nth-child(6),
  .table td:nth-child(6),
  .table th:nth-child(7),
  .table td:nth-child(7),
  .table th:nth-child(8),
  .table td:nth-child(8) {
    display: none;
  }
}
@media (min-width: 451px) and (max-width: 1024px) {
  .table {
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: auto;
    /* Ocultamos las columnas menos importantes en pantallas pequeñas y tablets */
  }
  .table .table-info {
    font-size: 12px;
    margin-left: 0;
    text-align: left;
    padding: 0;
  }
  .table .table-info th {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    background-color: beige;
  }
  .table .table-info td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
    background-color: rgb(179, 179, 177);
  }
  .table .table-info th:nth-child(5),
  .table .table-info td:nth-child(5),
  .table .table-info th:nth-child(6),
  .table .table-info td:nth-child(6),
  .table .table-info th:nth-child(7),
  .table .table-info td:nth-child(7),
  .table .table-info th:nth-child(8),
  .table .table-info td:nth-child(8) {
    display: none;
  }
}
footer {
  background-color: #333333;
  color: #f8f9fa;
  padding: 30px 0;
  text-align: center;
  font-size: 15px;
  margin-top: 60px;
}

/*# sourceMappingURL=style.css.map */
